.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{
  border-left: 5px;
  color: lightgray;
}
body{
  min-height: 100%;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;

}
.header, .main, .footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
h1{
  color: tomato;
}
.img1,.img2{
width: 100%;
}
.nav ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.nav ul li a{
  color: lightgray;
  
}
.footer ul li a {
  color: tomato;
  display: flex;
}
.footer ul{
  display: flex;
  justify-content: space-evenly;
}
article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

article h3 {
  font-size: 2rem;
}

article a {
  float: right;
  font-weight: bold;
  color: tomato;
}

article p::first-letter {
  color: lightgray;
}